@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.mains {
  display: flex;
}

.dashboard-container {
  padding: 2rem;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #4CAF50;
  padding: 1rem;
}


.dashboard-stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  gap: 4rem;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

span {
  display: flex;
  justify-content: center;
}

.dashboard-stat {
  background-color: white;
  padding: 4rem;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid #4CAF50;
  width: 500px;
  margin-left: 10px;
}

.dashboard-stat h3 {
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: 500;
}

.dashboard-stat p {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0 0;
  color: #333;
}

main table {
  width: 100%;
  border-collapse: collapse;
}
tr,
th,
td {
  border: 2px solid #009A2B;
  padding: 8px;
  font-size: 12px
};